.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 95%;
    height: 95%;
    border: 2px solid black;
    border-radius: 3px;
    margin-bottom: 5px;
    transform: scale(.8);
}

.square {
    background-color: whitesmoke;
    width: 20px;
    height: 18px;
    position: absolute;
    padding-left: 2px;
    padding-top: 2px;
}

.innerSquare {
    width: 10px;
    height: 10px;
    border: 2.5px solid black;
    padding: 5px;
    background-color: whitesmoke;
}

.lines {
    display: flex;
    flex-direction: column;
}

.line {
    background-color: black;
    width: 85%;
    height: 2px;
    flex-shrink: 0;
    margin-top: 4px;
    margin-left: 2px;
    display: flex;
}