/* .pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 60%;
} */

.downloadButtonsWrapper {
  display: flex;
  /* border: 2px solid red; */
}

.downloadBtnWrapper {
  /* border: 2px solid blue; */
  flex-basis: 50%;
}

.downloadBtnWrapper:not(:first-of-type) {
  margin-left: 20px;
}

.paragraphWithHeaderWrapper > div {
  margin-bottom: 10px;
  border-radius: 10px;
}