.homePage {
  max-width: 60%;
  max-width: 900px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 20px;
  box-shadow:  -10px 10px 20px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
  /* border: 1px solid grey; */
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.threeDivSplit {
  display: flex;
}

.threeDivSplit > div {
  flex-basis: 33%;
}

.threeDivSplit > div:not(:first-of-type) {
  margin-left: 10px;
}

.links a {
  text-decoration: underline;
}

.links a:not(:first-of-type) {
  margin-left: 20px;
}