.mainGradientShapeWrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  /* border: 2px solid red; */
}

.mainGradientShape {
  position: absolute;
  top: -1100px;
  left: -50px;
  width: 100%;
  z-index: 1;
  fill: black;
  height: auto;
  transform: rotate(30deg) scaleX(1.1);
  transition: 2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  /* border: 5px solid blue; */
}

/* .page-enter .mainGradientShape {
  transform: rotate(40deg) scaleX(1.1);
}
.page-enter-active .mainGradientShape {
  transform: rotate(85deg) scaleX(1) scaleY(1.1);
}
.page-exit .mainGradientShape {
}
.page-exit-active .mainGradientShape {
} */

.mainGradientShape.animate {
  transform: rotate(85deg) scaleX(1) scaleY(1.1);
}

.gradientShape {
  position: absolute;
  top: 0px;
  z-index: 1;
  background: linear-gradient(90deg, rgb(12, 19, 97) 20%, rgb(8, 120, 218) 40%);
  width: 100vw;
  height: 100vh;
}

@media screen and (min-width: 1600px) {
  .mainGradientShapeWrapper {
    width: 105vw;
    left: -3vw;
  }
}
